<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>Facebook</key>
	<string>https://www.facebook.com/luisfilipe.campani</string>
	<key>About</key>
	<string>Hello!
My name is Luis and I would like to present you a bit about me.
I am a computer science undergraduate student at PUCRS and also a BEPiD student.
When not studying, I enjoy playing video-games such as Fifa or Diablo III.
Passionate about innovation and always seeking a bigger challenge.</string>
	<key>Name</key>
	<string>Luis Filipe Campani</string>
	<key>Email</key>
	<string>luisfilipecampani@gmail.com</string>
	<key>Phone</key>
	<string>+55 (51) 9145-0353</string>
	<key>Linkedin</key>
	<string>https://br.linkedin.com/in/luisfilipecampani</string>
	<key>Git</key>
	<string>https://github.com/luiscampani</string>
	<key>Education</key>
	<dict>
		<key>school</key>
		<string>Pontificia Universidade Catolica do Rio Grande do Sul (PUCRS)</string>
		<key>period</key>
		<string>Jan 2012 - Present</string>
		<key>info</key>
		<string>Bachelor in Computer Science</string>
	</dict>
	<key>Knowledges</key>
	<dict>
		<key>languages</key>
		<string>Java, C#, Objective-C</string>
		<key>protocols</key>
		<string>WebServices, TCP, UDP</string>
		<key>database</key>
		<string>Relational Databases and Non Relational Database</string>
		<key>agile</key>
		<string>Scrum, Kanban</string>
	</dict>
	<key>Experiences</key>
	<array>
		<dict>
			<key>job</key>
			<string>Software Developer Internship @ CPCA/LIS</string>
			<key>duration</key>
			<string>Nov 2013 - Oct 2014</string>
			<key>description</key>
			<string>CPCA/LIS is a innovation laboratory created in a collaboration between PUCRS and HP. I worked there as a software developer and researcher, proving concepts that could be used in the future at HP.</string>
		</dict>
		<dict>
			<key>job</key>
			<string>iOS Developer Student @ BEPiD</string>
			<key>duration</key>
			<string>Fev 2015 - Present</string>
			<key>description</key>
			<string>Student at BEPiD, a program to qualify graduation students on iOS development.</string>
		</dict>
	</array>
	<key>Projects</key>
	<dict>
		<key>n3phele</key>
		<string>n3phele is a cloud based environment for analysis of bioinformatic data, developed at the University of Colorado. By exploiting the power of cloud computing, it:
Lets researchers analyze data without needing any downloads. Grants access to scalable pipelines for data processing and record keeping. Enables developers of bioinformatic software to independently share implementations into the community without requiring them to code in a particular language or environment, or to integrate their software into a preexisting platform.</string>
		<key>Push Notifications</key>
		<string>The Push Notification Project was a concept test about the current push notification system and the need to reduce its cost. A Push Notification Server that sends packets through UDP, instead of TCP, does not keep connections with the devices, decreasing its cost, so the main idea was to use this protocol and work around its limitations by building some guarantees: a package delivery confirmation system, an algorithm to detect the lifetime of an opened UDP port and sending empty packages to keep it that way and a fallback to TCP when the use of UDP is not possible. The project was successful, proved and the concept validated.</string>
		<key>Simple Day</key>
		<string>My first approved app on the Apple Store. It is an organizer of your daily schedule, keeping track of all your tasks in a simple way. It has three options of visualization(daily, weekly and all tasks) and icons that helps you comprehend the tasks without much effort. You can also add descriptions to the tasks, making them even more understandable. </string>
	</dict>
</dict>
</plist>
